*{
	padding: 0;
	margin: 0;
}
body{
	background-color:#000066;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.balloon{
	height: 60px;
	width: 55px;
	background-color: crimson;
	position: absolute;
	top: 40%;
	left: 10%;
	border-radius: 50%;
    animation: move 2s ease-in infinite;
}
.balloon:before{
	content: "";
	height: 60px;
	width: 6px;
	position: absolute;
	background-color: white;
	top: 93%;
left: 40%;

}
@keyframes move{
	0%{
		top: 100%;
	}
	100%{
		top: 0%;
	}
}
.balloon:nth-child(2){
	left: 20%;
	top: 40%;
	background-color: yellow;
	animation-duration: 3s;
}
.balloon:nth-child(3){
	left: 30%;
	top: 40%;
	background-color: lightpink;
	animation-duration: 4s;
}

.balloon:nth-child(4){
	left: 40%;
	top: 40%;
	background-color: crimson;
	animation-duration: 5s;
}

.balloon:nth-child(5){
	left: 50%;
	top: 40%;
	background-color: gray;
	animation-duration: 6s;
}

.balloon:nth-child(6){
	left: 60%;
	top: 40%;
	background-color: orange;
	animation-duration: 2s;
}
.balloon:nth-child(7){
	left: 70%;
	top: 40%;
	background-color: yellow;
	animation-duration: 7s;
}

.balloon:nth-child(8){
	left: 80%;
	top: 40%;
	background-color: blue;
	animation-duration: 3s;
}
.balloon:nth-child(9){
	left: 90%;
	top: 40%;
	background-color: crimson;
	animation-duration: 4s;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 565px;
    border: 10px solid #9612eb;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1527481138388-31827a7c94d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
   background-color: #e6f0e6;
}
.card .text-container {
    width: 80%;
    height: 80%;
    margin: auto;
}
.strikethrough {
    text-decoration: line-through;
}
.card  .intro {
    /* color: #fff; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.30);
    font-family: 'Cookie', cursive;
    font-size: 18px;
}
.card p {
    font-size: 1.1em;
    line-height: 1.4;
    color: #331717;
    font-style: italic;
    text-align: center;
    margin: 30px auto 0px auto;
}
.card .front {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #9612eb;
    backface-visibility: hidden;
    background-color: #9612eb;
   /* background-image: url($cover-image);
    */
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(1800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}
.card:hover .front {
    transform: perspective(1800px) rotateY(-170deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
    background-color: #41718d;
}
.card:hover .back {
    transform: perspective(1800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #d2dcd2;
}
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #9612eb;
    margin: -10px 0px 0px -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(1800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    background-color: #e6f0e6;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset
{
 position: relative;
 z-index: 1;
 margin-bottom: -215px;
}
.imgset img
{
    width: 100%;
    height: 565px;
   box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
   border-radius: 5px;
}


.card .footer p{
    text-align: right !important;
    font-family: 'Cookie', cursive;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
    }

    .imgset img {
        height: unset;
    }
}